p1 {
    font-family: cursive
}

p2 {
    color: rgb(0,128,255);
    font-family: monospace
}

p.dotted {border-style: dotted;}

.img2 {
    float: right;
    margin: 0 0 10px 10px;
    border-radius: 100px;
}


.img3 {
    text-align: center;
    float: left;
    position: relative;
}

.txt {
    left: 0;
    position: absolute;
    top: 8em;
    width: 100%;
    color: red
}